.heading {
  width: 100%;
  background: $heading-bg;
  padding: 13px 0;
  box-shadow: $heading-shadow;

  @include media ('>=widescreen') {
    padding: 20px 0;
  }

  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  &-fixed-offset {
    padding-top: 74px;

    @include media ('>=tablet') {
      padding-top: 70px;
    }

    @include media ('>=widescreen') {
      padding-top: 100px;
    }
  }
}