* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0; 
  width: 100%;
  height: 100%;
}

body {
  font-family: $app-font-family;
  font-size: $app-font-size;
  font-weight: $app-font-weight;
  line-height: $app-line-height;
  padding-top: $heading-fixed-offset;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0 1em;
}