$font-family: 'Mont';

@font-face {
  font-family: $font-family;
  src: url('../fonts/mont/Mont-Heavy.eot');
  src: local('Mont Heavy'), local('Mont-Heavy'),
      url('../fonts/mont/Mont-Heavy.eot?#iefix') format('embedded-opentype'),
      url('../fonts/mont/Mont-Heavy.woff') format('woff'),
      url('../fonts/mont/Mont-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: $font-family;
  src: url('../fonts/mont/Mont-Bold.eot');
  src: local('Mont Bold'), local('Mont-Bold'),
      url('../fonts/mont/Mont-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/mont/Mont-Bold.woff') format('woff'),
      url('../fonts/mont/Mont-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mont Regular';
  src: url('../fonts/mont/Mont-RegularItalic.eot');
  src: local('Mont Regular Italic'), local('Mont-RegularItalic'),
      url('../fonts/mont/Mont-RegularItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/mont/Mont-RegularItalic.woff') format('woff'),
      url('../fonts/mont/Mont-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: $font-family;
  src: url('../fonts/mont/Mont-BoldItalic.eot');
  src: local('Mont Bold Italic'), local('Mont-BoldItalic'),
      url('../fonts/mont/Mont-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/mont/Mont-BoldItalic.woff') format('woff'),
      url('../fonts/mont/Mont-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: $font-family;
  src: url('../fonts/mont/Mont-Regular.eot');
  src: local('Mont Regular'), local('Mont-Regular'),
      url('../fonts/mont/Mont-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/mont/Mont-Regular.woff') format('woff'),
      url('../fonts/mont/Mont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

