$app-font-family: 'Mont';
$app-font-size: 14px;
$app-font-weight: 400;
$app-line-height: 1.17;

$headings: (
  h1: 60px,
  h2: 40px,
  h3: 24px,
  h4: 20px,
  h5: 18px,
);

$font-weights: (
  regular: 400,
  bold: 700,
  heavy: 900
)