.card {
  margin-bottom: 65px;

  @include media ('>=desktop') {
    margin-bottom: 0;
  }

  &-sm {
    @include media ('>widescreen') {
      padding: 0 62px;
    }
  }

  &-md {
    margin-bottom: 45px;

    @include media ('>=widescreen') {
      padding: 0 39px;
    }
  }

  &-flat {
    background: none;
  }

  &-avatar {
    margin-bottom: 35px;
  }

  &-title {
    padding: 0 90px;
    margin: 0 0 10px;

    @include media ('>=large-desktop') {
      padding: 0 15px;
    }

    .card-sm & {
      margin: 0 0 15px;
    }

    .card-md & {
      padding: 0;
      margin: 0 0 30px;

      @include media ('>=widescreen') {
        margin: 0 0 10px;
      }
    }
  }

  &-text {
    padding: 0 65px;

    @include media ('>=widescreen') {
      padding: 0 15px;
    }

    .card-md & {
      line-height: 1.43;
      padding: 0 15px;

      @include media ('>=widescreen') {
        line-height: 2;
      }
    }
  }

  &-picture {
    margin: 0 auto 35px;
    
    @include media ('>=large-desktop') {
      margin: 0 auto 45px;
    }
  }
}