.card {
  padding: 0 15px;
  text-align: center;

  &-sm {
    padding: 0 40px;
    max-width: 265px;
  }

  &-md {
    margin: 0 75px;
    max-width: 336px;
  }

  &-flat {
    background: none;
  }
}